{% extends 'blog/base.html' %} {% block content %}
<div class="main_post-container">
  {% for post in posts %}
  <div class="main_post-box">
    <div class="main-post--top">
      <!-- <img src="{{ post.image.url }}" alt="post image" /> -->
      <div class="main-post--type">투룸</div>
    </div>
    <div class="main-post--bottom">
      <div class="main-post--location">장소</div>
      <div class="main-post--author">{{ post.title }}</div>
      <div class="main-post--phone">010-0000-0000</div>
      <div>
        <a href="">프로필</a>
        <a href="">후기</a>
      </div>
    </div>
    <!-- <div class="main-post--date">{{ post.published_date }}</div> -->
    <!-- <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1> -->
    <!-- <p>{{ post.text|linebreaksbr }}</p> -->
  </div>
  {% endfor %}
</div>
{% endblock %}
